@use "../variables";

.leftside {
  background-color: variables.$bg-dark-sides;
  height: auto;
  min-height:  100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: 800px) {
    justify-content: flex-start;
    gap: 5vw;
  }
  .closed {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    min-height: 100vh;
    width: .3vw;
    min-width: 5px;
    border: none;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    outline: none;
    border-radius: 0;
    background-color: variables.$blue-color;
    transition: .2s;
    @media only screen and (max-width: 800px) {
      & {
        display: flex;
      }
    }
    &:hover {
      box-shadow: 1px 0px 7px 1px variables.$blue-color;
    }
    img {
      width: 17px !important;
      position: absolute;
      transform: rotate(180deg);
      left: -18px;
      animation: tremer .3s infinite alternate;
    }
  }
  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 10px;

    img {
      width: 60%;
      height: auto;
    }
    @media screen and (max-width: 935px) {
      
    }
  }
  &__navigation {
    margin: 0px;
    width: 100%;
    overflow: hidden;
    h1 {
      font-weight: 700;
      font-size: 1vw;
      margin-bottom: .8vw;
      color: rgba(249, 249, 249, 0.67);
      padding-left: 2.5vw;
      @media screen and (max-width: 800px) {
        font-size: 100%;
        margin-bottom: 1vw;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      
      li {
        width: 100%;
        a {
          padding-top: .6vw;
          padding-bottom: .6vw;
          padding-left: 2.5vw;
          cursor: pointer;
          display: flex;
          align-items: center;
          width: 100%;
          height: auto;
          gap: 1vw;
          text-decoration: none;
          transition: background .2s;
          @media screen and (max-width: 800px) {
            padding-top: 1vw;
            padding-bottom: 1vw;
          }
          img {
            width: 1.3vw;
            @media screen and (max-width: 800px) {
              width: 6%;
              min-width: 15px;
            }
          }
          span {
            color: variables.$text-color;
            font-size: 1vw;
            font-weight: 600;
            transition: color .2s;
            @media screen and (max-width: 800px) {
              font-size: 100%;
              
            }
          }
          &:hover {
            background-color: variables.$bg-dark-main;
          }
          &:active {
            span {
              color: variables.$blue-color;
            }
          }
          
        }
      }
    }
    
  }
}