@use "../variables";

.rightside {
  background-color: variables.$bg-dark-sides;
  height: 100vh;
  min-height:  500px;
  padding-left: 30px;
  .closed {
    cursor: pointer;
    position: absolute;
    left: 0px;
    height: 100vh;
    min-height:  500px;
    width: 5px;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    border-radius: 0;
    background-color: variables.$blue-color;
    transition: .2s;
    &:hover {
      box-shadow: 1px 0px 7px 1px variables.$blue-color;
    }
    img {
      width: 17px !important;
      position: absolute;
      left: 8px;
      animation: tremer .3s infinite alternate;
    }
  }
  &__user {
    margin-top: 40px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    &__notification {
      padding: 10px 15px;
      background: rgba(249, 249, 249, 0.2);
      border-radius: 13.2228px;
      height: min-content;
      transition: background .2s;
      &:hover {
        background: rgba(249, 249, 249, 0.5);
      }
      cursor: pointer;
      img {
        width: 21px;
        height: auto;
      }
    }
    &__data {
      margin-right: 40px;
      height: 100%;
      width: min-content;
      display: flex;
      align-items: center;
      cursor: pointer;
      .dropdawn {
        width: 2rem;
        transition: .4s;
        &:hover {
          rotate: 180deg;
        }
      }
      &__name {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 14.1043px;
        line-height: 100%;
        color: variables.$text-color; 
       }
      img {
        height: 100%;
        width: auto;
      }
      &__avatar {
        border-radius: 13.2228px;
        background-color: variables.$blue-color;
        &:hover {
          opacity: .3;
        }
      }
    }
  }
  .continue {
    margin-top: 60px;
    &__controls{
      display: flex;
      &__title {
        font-size: 21px;
        font-weight: 800;
        color: variables.$text-color; 
      }
      &__avancar__recuar{
        width: max-content;
        display: flex;
        margin-left: 17px;
        button {
          background: transparent;
          border: none;
          width: 20px;
          height: 20px;
          position: relative;
        }
        img {
          height: 12.34px;
        }
        .lado-esquerdo {
          img {
            transform: rotate(180deg);
            opacity: .4;
          }
        }
        .lado-direito {
          img {
            margin-top: 3px;
          }
        }
      }
      .seemore {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: max-content;
        gap: 8px;
        margin-left: 38px;
        span {
          font-size: 13.22px;
          font-weight: 600;
          color: rgba(249, 249, 249, .67);
        }
        img {
          margin-top: 3px;
          height: 10px;
          width: auto;
        }
      }
    }
    &__movies {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 20px;
      overflow-x: hidden;
      margin-top: 26px;
      &__movie {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 9px;
        background-color: #16181e;
        border: 0.881518px solid rgba(249, 249, 249, 0.1);
        border-radius: 10.5782px;
        gap: 8.82px;
        img {
          width: 48px;
          height: 52px;
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            font-size: 14.1px;
            font-weight: 800;
            color: #f9f9f9;
          }
          p {
            font-size: 12.34px;
            font-weight: 700;
            color: rgba(249, 249, 249, .7);
          }
          .progresse-bar {
            background-color: #f9f9f9;
            width: 100%;
            span {
              display: block;
              background-color: variables.$blue-color;
              width: 80%;
              height: 2.5px;
            }
          }
        }
        .drop {
          padding: 11.4597px 9.6967px;
          background: rgba(249, 249, 249, 0.2);
          border-radius: 7.05214px;
          color: #f9f9f9;
          font-size: 12.3412px;
          font-weight: 800;
          border: none;
          cursor: pointer;
        }
        .watch {
          cursor: pointer;
          background-color: #00b9ae;
          border-radius: 7.05214px;
          padding: 11.4597px 36.1422px;
          border: none;
          color: #16181e;
          font-size: 12.3412px;
          font-weight: 800;
        }
      }
    }
  }
  .toprated__series {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow: hidden;
    width: fit-content;
    &__serie {
      height: 113.72px;
      background: #16181e url("./../assets/img/rightside/filmes/supernatural.png");
      background-repeat: no-repeat;
      background-size: cover;
      border: 0.881518px solid rgba(249, 249, 249, 0.1);
      border-radius: 10.5782px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 14.1px;
        font-weight: 800;
        color: #f9f9f9;
      }
      .info {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        span {
          display: block;
          width: max-content;
          font-size: 12.34px;
          font-weight: 700;
          color: rgba(249, 249, 249, .7);
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
        button {
          border: none;
          cursor: pointer;
          transition: .3s;
          &:hover {
            opacity: .5;
          }
        }
        .add {
          padding: 4px 10px;
          background-color: rgba(249, 249, 249, 0.2);
          border-radius: 7.05px;
        }
        .watch {
          background-color: #00b9ae;
          padding: 11.4597px 36.1422px;
          border-radius: 7.05214px;
        }
      }
    }
  }
}




@keyframes tremer {
  from {
    margin: 1px 1px 1px 1px;
  }
  to {
    margin: -1px -1px -1px -1px;
  }
}
