@use "../variables";

.rightside {
  background-color: variables.$bg-dark-sides;
  height: auto;
  min-height:  100vh;
  padding-left: 30px;
  .closed {
    cursor: pointer;
    position: absolute;
    left: 0px;
    height: 100%;
    min-height:  100vh;
    width: .3vw;
    min-width: 5px;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    border-radius: 0;
    background-color: variables.$blue-color;
    transition: .2s;
    &:hover {
      box-shadow: 1px 0px 7px 1px variables.$blue-color;
    }
    img {
      width: 17px !important;
      position: absolute;
      left: 8px;
      animation: tremer .3s infinite alternate;
    }
  }
  &__user {
    margin-top: 40px;
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 800px) {
      height: 80px;
    }
    justify-content: space-between;
    &__notification {
      padding: 1vw 1.2vw;
      background: rgba(249, 249, 249, 0.2);
      border-radius: 1.2vw;
      height: min-content;
      transition: background .2s;
      @media screen and (max-width: 800px) {
        padding: 2.5vw 3vw;
      }
      &:hover {
        background: rgba(249, 249, 249, 0.5);
      }
      cursor: pointer;
      img {
        width: 1.5vw;
        height: auto;
        @media screen and (max-width: 800px) {
          width: 4vw;
          min-width: 30px;
        }
      }
    }
    &__data {
      margin-right: 2vw;
      width: min-content;
      height: 100%;
      display: flex;
      align-items: center;
      &:hover {
        .dropdawn {
          rotate: 180deg;
        }
      }
      cursor: pointer;
      .dropdawn {
        width: 2vw;
        transition: .4s;
      }
      &__name {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 1vw;
        line-height: 100%;
        color: variables.$text-color; 
        @media screen and (max-width: 800px) {
          font-size: 3vw;
        }
      }

      img {
        height: 100%;
        width: auto;
        min-width: 30px;
      }
      &__avatar {
        border-radius: 13.2228px;
        background-color: variables.$blue-color;
        &:hover {
          opacity: .3;
        }
      }
    }
  }
  .continue {
    margin-top: 60px;
    &__controls{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      &__title {
        font-size: 1.5vw;
        font-weight: 800;
        color: variables.$text-color; 
        @media screen and (max-width: 800px) {
          font-size: 1.4rem;
        }
      }
      &__avancar__recuar{
        width: max-content;
        display: flex;
        margin-left: -2vw;
        gap: .5vw;
        button {
          background: transparent;
          border: none;
          position: relative;
        }
        img {
          width: .7vw;
          min-width: 10px;
          height: auto;
        }
        .lado-esquerdo {
          img {
            transform: rotate(180deg);
            opacity: .4;
          }
        }
        .lado-direito {
          img {
            margin-top: .09vw;
          }
        }
      }
      .seemore {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        width: max-content;
        gap: 8px;
        margin-right: 2vw;
        cursor: pointer;
        span {
          font-size: .9vw;
          font-weight: 600;
          color: rgba(249, 249, 249, .67);
          @media screen and (max-width: 800px) {
           font-size: 1rem; 
          }
        }
        img {
          height: .6vw;
          min-height: 10px;
          width: auto;
        }
      }
    }
    &__movies {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 20px;
      overflow-x: hidden;
      margin-top: 26px;
      &__movie {
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 9px;
        background-color: #16181e;
        border: .1vw solid rgba(249, 249, 249, 0.1);
        border-radius: 10.5782px;
        gap: .6vw;
        img {
          width: 4vw;
          min-width: 60px;
          height: 4vw;
          min-height: 60px;
          @media screen and (max-width: 800px) {
            
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h3 {
            font-size: 1vw;
            font-weight: 800;
            color: #f9f9f9;
            @media screen and (max-width: 800px) {
              font-size: 1rem;
            }
          }
          p {
            font-size: .8vw;
            font-weight: 700;
            color: rgba(249, 249, 249, .7);
            @media screen and (max-width: 800px) {
              font-size: .8rem;
            }
          }
          .progresse-bar {
            background-color: #f9f9f9;
            width: 100%;
            span {
              display: block;
              background-color: variables.$blue-color;
              width: 80%;
              height: .2vw;
            }
          }
        }
        .drop {
          padding: 11.4597px 9.6967px;
          background: rgba(249, 249, 249, 0.2);
          border-radius: 7.05214px;
          color: #f9f9f9;
          font-size: .75vw;
          font-weight: 800;
          border: none;
          cursor: pointer;
          @media screen and (max-width: 800px) {
            font-size: .7rem;
          }
        }
        .watch {
          cursor: pointer;
          background-color: #00b9ae;
          border-radius: 7.05214px;
          padding: 11.4597px 36.1422px;
          border: none;
          color: #16181e;
          font-size: .75vw;
          font-weight: 800;
          @media screen and (max-width: 800px) {
            font-size: .7rem;
          }
        }
      }
    }
  }
  .toprated__series {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.2vw;
    overflow: hidden;
    width: fit-content;
    &__serie {
      height: 7.5vw;
      min-height: 100px; 
      background: #16181e url("./../assets/img/rightside/filmes/supernatural.png");
      background-repeat: no-repeat;
      background-size: cover;
      border: .1vw solid rgba(249, 249, 249, 0.1);
      border-radius: 10.5782px;
      padding: .7vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media screen and (max-width: 800px) {
        padding: 8px;
      }
      h3 {
        font-size: 1vw;
        font-weight: 800;
        color: #f9f9f9;
        @media screen and (max-width: 800px) {
          font-size: 1.4rem;
        }
      }
      .info {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        @media screen and (max-width: 800px) {
          gap: 10px;
        }
        span {
          display: block;
          width: max-content;
          font-size: .8vw;
          font-weight: 700;
          color: rgba(249, 249, 249, .7);
          @media screen and (max-width: 800px) {
            font-size: 1rem;
          }
        }
      }
      .buttons {
        display: flex;
        flex-direction: row;
        gap: .7vw;
        button {
          border: none;
          cursor: pointer;
          transition: .3s;
          &:hover {
            opacity: .5;
          }
        }
        .add {
          padding: .4vw .8vw;
          background-color: rgba(249, 249, 249, 0.2);
          border-radius: 7.05px;
        }
        .watch {
          background-color: #00b9ae;
          padding: 11.4597px 36.1422px;
          border-radius: 7.05214px;
          font-weight: bold;
        }
      }
    }
  }
}




@keyframes tremer {
  from {
    margin: 1px 1px 1px 1px;
  }
  to {
    margin: -1px -1px -1px -1px;
  }
}
