@use "../variables";

.home {
  height: 100%;
  width: 100%;
  padding: 2.5vw 4vw;
  @media screen and (max-width: 800px) {
    padding: 3rem 4rem;
  }
  @media screen and (max-width: 650px) {
    padding: 1.5rem 2rem;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vw;
    transition: margin .3s;
    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 650px) {
      margin-bottom: 3rem;
    }
    nav {
      @media screen and (max-width: 600px) {
        margin: auto;
      }
      ul {
        display: flex;
        flex-direction: row;
        gap: 3.5vw;
        @media screen and (max-width: 800px) {
          gap: 6vw;    
        }

        @media screen and (max-width: 600px) {
          margin-bottom: 3rem;
        }
        li {
          a {
            text-decoration: none;
            color: variables.$text-color;
            font-weight: 600;
            font-size: 1.6vw;
            
            @media screen and (max-width: 800px) {
              font-size: 4vw;
              white-space: nowrap;
            }
          }
          .active {
            color: variables.$blue-color;
            padding-bottom: .5vw;
            border-bottom: .2vw solid variables.$blue-color;
            @media screen and (max-width: 800px) {
              border-bottom: .3rem solid variables.$blue-color;
            }
          }
        }
      }
    }
    form {
      background-color: #21242D;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 2vw;
      border-radius: 1vw;
      gap: 1vw;
      border: .1vw solid rgba(249, 249, 249, 0.1);
      cursor: pointer;
      @media screen and (max-width: 800px) {
        padding: 2vw 3vw;
        transform: scale(1.4);
      }
      label {
        img {
          width: 1.5vw;
          height: auto;
          cursor: pointer;
        }
      }
      @media screen and (max-width: 800px) {
        label {
          img {
            background-color: #21242D;
            width: auto;
            height: auto;
          }
        }
        input {
          display: none;
        }
        button {
          display: none;
        }
      }
      
      @media screen and (max-width: 600px) {
        margin: auto;
        input {
          display: block;
          font-size: 1rem !important;
        }
        button {
          display: block;
          img {
            width: 1rem !important;
            height: auto;
          }
        }
      }
      input {
        background-color: transparent;
        border: none;
        color: rgba(249, 249, 249, 0.67);
        font-weight: 500;
        font-size: 1.2vw;
        padding: 1vw 0;
        &:focus {
          outline: none;

        }
      }
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
          width: 1.2vw;
        }
      }
    }
  }

  &__tvshows {
    width: 100%;
    &__slider {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      @media screen and (max-width: 800px) {
        margin-bottom: 2rem;
      }
      h1 {
        color: #f9f9f9;
        font-weight: 800;
        position: absolute;
        z-index: 1;
        top: 3vw;
        left: 3vw;
        font-size: 4vw;
        @media screen and (max-width: 800px) {
          font-size: 2rem;
        }
      }

      .buttons-navigation {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 2vw;
        top: 50%;
        padding-left: 2vw;
        z-index: 1;
        button {
          background: rgba(249, 249, 249, 0.2);
          backdrop-filter: blur(4.40759px);
          border: none; 
          padding: 1vw 1.2vw;
          border-radius: 1vw;
          cursor: pointer;
          transition: .3s;
          @media screen and (max-width: 800px) {
            padding: 1rem 2rem;
            border-radius: 1rem;
          }
          img {
            height: 1vw;
            width: auto;
            @media screen and (max-width: 800px) {
              height: 2rem;
            }
          }
          &:hover {
            background-color: #21242D;
            opacity: .7;
          }
        }
        .arrow-left {
          img {
            transform: rotate(180deg);
          }
        }
      }

      .slides {
        transition: .3s;
        height: 26vw;
        display: flex;
        width: 300%;
        @media screen and (max-width: 800px) {
          height: 25rem;
        }
        @media screen and (max-width: 400px) {
          height: 40rem;
        }
        .slide {
          position: relative;
          width: 33.33333333333333%;
          height: 100%;
          img {
            border-radius: 2vw;
            width: 100%;
            height: 100%;
          }
        }
        .slide:not(:first-child) {
          opacity: .7;
        }
        #slide1 {
          transition: margin .3s;
        }
      }

      & .img1 > #slide1 {
        margin-left: 0;
      }
      & .img2 > #slide1 {
        margin-left: -33.33333333333333%;
      }
      & .img3 > #slide1 {
        margin-left: -66.66666666666667%;
      }

      .manual-navigation {
        width: 100%;
        position: absolute;
        bottom: 2vw;
        z-index: 1;
        @media screen and (max-width: 800px) {
          bottom: 5rem;
        }
        @media screen and (max-width: 560px) {
          display: none;
        }
        div {
          width: max-content;
          display: flex;
          flex-direction: row;
          gap: 1vw;
          margin: auto;
          background: rgba(249, 249, 249, 0.2);
          backdrop-filter: blur(4.40759px);
          padding: .5vw .8vw;
          border-radius: .4vw;
          @media screen and (max-width: 800px) {
            padding: .5rem;
            border-radius: .5rem;
          }
          button {
            cursor: pointer;
            background-color: variables.$text-color;
            border-radius: 50%;
            height: .8vw;
            width: .8vw;
            border: none;
            transition: background .3s;
            @media screen and (max-width: 800px) {
              width: 1rem;
              height: 1rem;
            }
          }
          .marcado {
            background-color: variables.$blue-color;
          }
        }
      }
      
      .watch-list-now {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0vw 2vw;
        z-index: 1;
        bottom: 1vw;
        @media screen and (max-width: 800px) {
          bottom: 1rem;
        }
        button {
          border-radius: 1vw;
          border: none;
          font-size: 1.2vw;   
          font-weight: 800;
          cursor: pointer;
          transition: opacity .3s;
          &:hover {
            opacity: .7;
          }
          @media screen and (max-width: 800px) {
            font-size: 1.8rem;
            border-radius: .7rem;
          }
          @media screen and (max-width: 560px) {
            font-size: 1.3rem;
          }
        }


        .watch-list {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: .5vw;
          background: rgba(249, 249, 249, 0.2);
          backdrop-filter: blur(4.40759px);
          padding: 1vw 1.5vw;
          
          span {
            color: #f9f9f9;
          }
          img {
            width: 1.32vw;
            height: auto;
          }
          @media screen and (max-width: 800px) {
            padding: .5rem 1.5rem;
            gap: 1rem;
            img {
              width: 1.5rem;
              height: auto;
            }
          }
          @media screen and (max-width: 400px) {
            padding: .4rem;
          }
        }

        .watch-now {
          padding: 1vw 2vw;
          background-color: variables.$blue-color;
          color: #16181e ;
          @media screen and (max-width: 400px) {
            padding: .4rem;
          }
        }
      }
    }
    &__popularmovies {
      margin-top: 2vw;
      width: 100%;
      &__title {
        color: azure;
        font-size: 2vw;
        font-weight: 800;
        @media screen and (max-width: 800px) {
          font-size: 2rem;
        }
      }
      .container__movie {
        width: 100%;
        padding-right: 4vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 2vw;
        margin-top: 2vw;
        @media screen and (max-width: 800px) {
          flex-wrap: wrap;
          margin-top: 3rem;
          gap: 3rem;
          padding-right: 0rem;
          .movie {
            margin: auto;
          }
        }
        .movie {
          width: auto;
          min-width: 33.3333333%;
          height: auto;
          position: relative;
          img {
            width: 100%;
            height: auto;
            @media screen and (max-width: 800px) {
              width: 80vw;
            }
          }
          .info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #f9f9f9;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .container-um {
              h2 {
                padding: 1.3vw 1.1vw 0;
                font-weight: 800;
                font-size: 1.5vw;
                @media screen and (max-width: 800px) {
                  font-size: 3rem;
                  padding: 3rem 2rem;
                }
              }
  
              img {
                margin-left: 1vw;
                margin-top: .7vw;
                width: 6.3vw;
                height: auto;
                @media screen and (max-width: 800px) {
                  margin-left: 2rem;
                  margin-top: .1rem;
                  width: 12rem;
                }
              }
            }
            .container-dois {
              .epegenero {
                margin-bottom: .2vw;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 1vw;
                font-weight: 700;
                padding: 0 1vw;
                color: rgba(249, 249, 249, 0.7);
                @media screen and (max-width: 800px) {
                  font-size: 2rem;
                  padding: 0 2rem;
                  margin-bottom: 0;
                }
                @media screen and (max-width: 450px) {
                  font-size: 1.5rem;
                  margin-bottom: 0rem;
                }
              }
              .buttons {
                display: flex;
                flex-direction: row;
                gap: .5vw;
                padding: .6vw;
                @media screen and (max-width: 800px) {
                  gap: 1rem;
                  padding: 2rem;
                }
                @media screen and (max-width: 450px) {
                  gap: .5rem;
                  padding: .5rem;
                }
                button {
                  border: none;
                  padding: 1vw 1vw;
                  border-radius: 1vw;
                  transition: opacity .3s;
                  cursor: pointer;
                  @media screen and (max-width: 800px) {
                    padding: 2rem 2.5rem;
                    border-radius: 1rem;
                  }
                  @media screen and (max-width: 450px) {
                    padding: 1rem 1.5rem;
                  }
                  &:hover {
                    opacity: .7;
                  }
                  img {
                    width: 1.5vw;
                    height: auto;
                    @media screen and (max-width: 800px) {
                      width: 2rem;
                    }
                  }
                }
                button:first-child {
                  background: rgba(249, 249, 249, 0.2);
                  backdrop-filter: blur(4.40759px);
                }
                button:last-child {
                  font-size: 1vw;
                  font-weight: 800;
                  width: 100%;
                  background-color: variables.$blue-color;
                  @media screen and (max-width: 800px) {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}