@use "../variables";

.home {
  height: 100%;
  width: 100%;
  padding: 2.5vw 4vw;
  @media screen and (max-width: 800px) {
    padding: 3rem 4rem;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vw;
    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
    nav {
      @media screen and (max-width: 600px) {
        margin: auto;
      }
      ul {
        display: flex;
        flex-direction: row;
        gap: 3.5vw;
        @media screen and (max-width: 800px) {
          gap: 6vw;    
        }

        @media screen and (max-width: 600px) {
          margin-bottom: 3rem;
        }
        li {
          a {
            text-decoration: none;
            color: variables.$text-color;
            font-weight: 600;
            font-size: 1.6vw;
            
            @media screen and (max-width: 800px) {
              font-size: 4vw;
              white-space: nowrap;
            }
          }
          .active {
            color: variables.$blue-color;
            padding-bottom: .5vw;
            border-bottom: .2vw solid variables.$blue-color;
            @media screen and (max-width: 800px) {
              border-bottom: .3rem solid variables.$blue-color;
            }
          }
        }
      }
    }
    form {
      background-color: #21242D;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 2vw;
      border-radius: 1vw;
      gap: 1vw;
      border: .1vw solid rgba(249, 249, 249, 0.1);
      cursor: pointer;
      @media screen and (max-width: 800px) {
        padding: 2vw 3vw;
        transform: scale(1.4);
      }
      label {
        img {
          width: 1.5vw;
          height: auto;
          cursor: pointer;
        }
      }
      @media screen and (max-width: 800px) {
        label {
          img {
            background-color: #21242D;
            width: auto;
            height: auto;
          }
        }
        input {
          display: none;
        }
        button {
          display: none;
        }
      }
      
      @media screen and (max-width: 600px) {
        margin: auto;
        input {
          display: block;
          font-size: 1rem !important;
        }
        button {
          display: block;
          img {
            width: 1rem !important;
            height: auto;
          }
        }
      }
      input {
        background-color: transparent;
        border: none;
        color: rgba(249, 249, 249, 0.67);
        font-weight: 500;
        font-size: 1.2vw;
        padding: 1vw 0;
        &:focus {
          outline: none;

        }
      }
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
          width: 1.2vw;
        }
      }
    }
  }

  &__tvshows {
    width: 100%;
    &__slider {
      width: 100%;
      height: auto;
      position: relative;
      overflow: hidden;
      
      .slides {
        transition: .3s;
        height: 25vw;
        display: flex;
        width: 300%;

        .slide {
          position: relative;
          width: 33.33333333333333%;
          height: 100%;
          img {
            border-radius: 2vw;
            width: 100%;
            height: 100%;
          }
        }
        #slide1 {
          transition: margin .3s;
        }
      }

      & .img1 > #slide1 {
        margin-left: 0;
      }
      & .img2 > #slide1 {
        margin-left: -33.33333333333333%;
      }
      & .img3 > #slide1 {
        margin-left: -66.66666666666667%;
      }
      .manual-navigation {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2vw;
        justify-content: center;
        position: absolute;
        bottom: 0;
        z-index: 1;
        button {
          border: none;
        }
      }
    }
    &__popularmovies {
      margin-top: 2vw;
      width: 100%;
      &__title {
        color: azure;
      }
      .container__movie {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 3vw;
        margin-top: 3vw;
        .movie {
          width: 33.33%;
          height: 20vw;
          background-color: azure;
        }
      }
    }
  }
}