@use "../variables";

.home {
  height: 100%;
  width: 100%;
  padding: 2.5vw 4vw;
  @media screen and (max-width: 800px) {
    padding: 3rem 4rem;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
    }
    nav {
      @media screen and (max-width: 600px) {
        margin: auto;
      }
      ul {
        display: flex;
        flex-direction: row;
        gap: 3.5vw;
        @media screen and (max-width: 800px) {
          gap: 6vw;    
        }

        @media screen and (max-width: 600px) {
          margin-bottom: 3rem;
        }
        li {
          a {
            text-decoration: none;
            color: variables.$text-color;
            font-weight: 600;
            font-size: 1.6vw;
            
            @media screen and (max-width: 800px) {
              font-size: 4vw;
              white-space: nowrap;
            }
          }
          .active {
            color: variables.$blue-color;
            padding-bottom: .5vw;
            border-bottom: .2vw solid variables.$blue-color;
            @media screen and (max-width: 800px) {
              border-bottom: .3rem solid variables.$blue-color;
            }
          }
        }
      }
    }
    form {
      background-color: #21242D;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 2vw;
      border-radius: 1vw;
      gap: 1vw;
      border: .1vw solid rgba(249, 249, 249, 0.1);
      cursor: pointer;
      @media screen and (max-width: 800px) {
        padding: 2vw 3vw;
        transform: scale(1.4);
      }
      label {
        img {
          width: 1.5vw;
          height: auto;
          cursor: pointer;
        }
      }
      @media screen and (max-width: 800px) {
        label {
          img {
            background-color: #21242D;
            width: auto;
            height: auto;
          }
        }
        input {
          display: none;
        }
        button {
          display: none;
        }
      }
      
      @media screen and (max-width: 600px) {
        margin: auto;
        input {
          display: block;
          font-size: 1rem !important;
        }
        button {
          display: block;
          img {
            width: 1rem !important;
            height: auto;
          }
        }
      }
      input {
        background-color: transparent;
        border: none;
        color: rgba(249, 249, 249, 0.67);
        font-weight: 500;
        font-size: 1.2vw;
        padding: 1vw 0;
        &:focus {
          outline: none;

        }
      }
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
          width: 1.2vw;
        }
      }
    }
  }
}