@use "./variables";
// reset CSS styles

@use "./reset";

// reset CSS styles


// styles layout

@use "./layout/leftside";
@use "./layout/mainside";
@use "./layout/rightside";

// styles layout

.App {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  .leftside {
    width: 15vw;
    margin-left: 0;
    transition: margin .3s;
    position: relative;
  }
  .mainside {
    transition: width .3s;
    width: 60vw;
  }
  .rightside {
    transition: margin .3s;
    width: 25vw;
    position: relative;
    margin-right: 0;
  }
}


.rightrecolhidoFull {
  .mainside {
    width: 84vw;
  }
  .rightside {
    margin-right: -24vw;
    .closed {
      img {
        transform: rotate(180deg);
        left: -18px;
      }
    }
  }
}

.leftAberto {
  .mainside {
    width: 48vw;
  }
  .leftside {
    margin-left: 0;
    width: 50vw;
  }
  .rightside {
    width: 50vw;
    margin-right: -48vw;
    .closed {
      img {
        transform: rotate(180deg);
        left: -18px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .mainside {
      width: 50vw;
    }
    .rightside {
      margin-left: -50vw;
    }
  }
}

.rightAberto {
  .mainside {
    width: 48vw;
  }
  .leftside {
    width: 50vw;
    margin-left: -48vw;
    .closed {
      img {
        transform: rotate(0deg);
        left: 8px;
      }
    }
  }
  .rightside {
    width: 50vw;
    margin-right: 0;
    .closed {
      img {
        transform: rotate(0deg);
        left: 8px;
      }
    }
  }
}

.twoSides {
  .mainside {
    width: 96vw;
  }
  .rightside {
    width: 50vw;
    margin-right: -48vw;
    .closed {
      img {
        transform: rotate(180deg);
        left: -18px;
      }
    }
  }
  .leftside {
    width: 50vw;
    margin-left: -48vw;
    .closed {
      img {
        transform: rotate(0deg);
        left: 8px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .mainside {
      width: 98vw;
    }
    .rightside {
      margin-right: -50vw;
    }
  }
}
