@use "./variables";
// reset CSS styles

@use "./reset";

// reset CSS styles


// styles layout

@use "./layout/leftside";
@use "./layout/mainside";
@use "./layout/rightside";

// styles layout

// styles pages

@use "./pages/home";

// styles pages

.App {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
  float: right;
  .leftside {
    z-index: 2;
    width: 15vw;
    transition: margin .3s;
  }
  .mainside {
    
    transition: width .3s;
    width: 60vw;
    z-index: 1;
  }
  .rightside {
    position: relative;
    z-index: 2;
    transition: position .3s;
    transition: margin .3s;
    width: 25vw;
  }
  @media screen and (max-width: 800px) {
    & {
      float: none;
      .mainside {
        width: 100vw;
        min-height: 100vh;
        height: auto;
      }
    }
  }
}


.rightrecolhidoFull {
  
  .mainside {
    width: 83vw;
    min-height: 100vh;
    margin-right: 2vw;
  }
  .rightside {
    position: fixed;
    right: 0;
    top: 0;
    margin-right: -23vw;
    .closed {
      img {
        transform: rotate(180deg);
        left: -18px;
      }
    }
  }
}

.leftAberto {
  .leftside {
    width: 50vw;
    height: auto;
    margin-left: 0;
  }
  .rightside {
    width: 50vw;
    height: auto;
    margin-right: -48vw;
    .closed {
      img {
        transform: rotate(180deg);
        left: -18px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .rightside {
      display: none;
    }
    .leftside {
      width: 80vw;
    } 
  }
}

.rightAberto {
  .leftside {
    width: 50vw;
    margin-left: -48vw;
    .closed {
      img {
        transform: rotate(0deg);
        left: 8px;
      }
    }
  }
  .mainside {
    width: 100vw;
    position: relative;
  }
  .rightside {
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    .closed {
      img {
        transform: rotate(0deg);
        left: 8px;
      }
    }
  }
}

.twoSides {
  .rightside {
    width: 50vw;
    margin-right: -48vw;
    .closed {
      img {
        transform: rotate(180deg);
        left: -18px;
      }
    }
  }
  .leftside {
    width: 50vw;
    margin-left: -48vw;
    .closed {
      img {
        transform: rotate(0deg);
        left: 8px;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .leftside {
      margin-left: -44vw;
    }
  }
}
