@use "./variables";
// reset CSS styles

@use "./reset";

// reset CSS styles


// styles layout

@use "./layout/leftside";
@use "./layout/mainside";
@use "./layout/rightside";

// styles layout

.App {
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  .leftside {
    width: 15vw;
    margin-left: 0;
    transition: margin .3s;
    position: relative;
  }
  .mainside {
    transition: width .3s;
    width: 60vw;
  }
  .rightside {
    transition: margin .3s;
    width: 25vw;
    position: relative;
    margin-right: 0;
  }
}

.rightrecolhido {
  .mainside {
    width: 100%;
  }
  .rightside {
    margin-right: -24vw;
    .closed {
      img {
        transform: rotate(180deg);
        left: -19px;
      }
    }
  }
}

.leftrecolhido {
  .mainside {
    width: 100%;
  }
  .leftside {
    margin-left: -14vw;
    overflow: visible;
    .closed {
      img {
        transform: rotate(0deg);

        left: 10px;
      }
    }
  }
}
